/* General styling for the body */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Toolbar styling */
.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2265b2;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
}

.fixed-image {
    position: fixed;   /* Fija la imagen en la pantalla */
    top: 700px;         /* Distancia desde la parte superior */
    right: 20px;       /* Distancia desde la parte derecha */
    width: 300px;      /* Ancho de la imagen */
    height: auto;      /* Ajusta la altura proporcionalmente */
}

.logo {
    font-size: 44px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ff9800;
}

.h2{
    margin-top: 50px;
    font-weight: bold;
}

.about-box {
    border: 2px solid #ccc;    /* Borde del cuadro */
    padding: 20px;             /* Espacio interno dentro del cuadro */
    border-radius: 15px;       /* Bordes redondeados */
    background-color: #f9f9f9; /* Color de fondo del cuadro */
    width: 40%;                /* Ancho del cuadro */
    margin: 20px auto;         /* Centrar el cuadro horizontalmente */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para darle un efecto elevado */
}

.mision-box{
    border: 2px solid #ccc;    /* Borde del cuadro */
    padding: 20px;             /* Espacio interno dentro del cuadro */
    border-radius: 15px;       /* Bordes redondeados */
    background-color: #f9f9f9; /* Color de fondo del cuadro */
    width: 40%;                /* Ancho del cuadro */
    margin: 20px auto;         /* Centrar el cuadro horizontalmente */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para darle un efecto elevado */
}
.vision-box{
    border: 2px solid #ccc;    /* Borde del cuadro */
    padding: 20px;             /* Espacio interno dentro del cuadro */
    border-radius: 15px;       /* Bordes redondeados */
    background-color: #f9f9f9; /* Color de fondo del cuadro */
    width: 40%;                /* Ancho del cuadro */
    margin: 20px auto;         /* Centrar el cuadro horizontalmente */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para darle un efecto elevado */
}

.valores-box{
    border: 2px solid #ccc;    /* Borde del cuadro */
    padding: 20px;             /* Espacio interno dentro del cuadro */
    border-radius: 15px;       /* Bordes redondeados */
    background-color: #f9f9f9; /* Color de fondo del cuadro */
    width: 40%;                /* Ancho del cuadro */
    margin: 20px auto;         /* Centrar el cuadro horizontalmente */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para darle un efecto elevado */
}

.team-box{
    border: 2px solid #ccc;    /* Borde del cuadro */
    padding: 20px;             /* Espacio interno dentro del cuadro */
    border-radius: 15px;       /* Bordes redondeados */
    background-color: #f9f9f9; /* Color de fondo del cuadro */
    height:90% ;
    width: 40%;                /* Ancho del cuadro */
    margin: 20px auto;         /* Centrar el cuadro horizontalmente */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para darle un efecto elevado */
}
.features-box{
    border: 2px solid #ccc;    /* Borde del cuadro */
    padding: 20px;             /* Espacio interno dentro del cuadro */
    border-radius: 15px;       /* Bordes redondeados */
    background-color: #f9f9f9; /* Color de fondo del cuadro */
    height:90% ;
    width: 40%;                /* Ancho del cuadro */
    margin: 20px auto;         /* Centrar el cuadro horizontalmente */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para darle un efecto elevado */
}
.gallery {
    text-align: center;
    position: relative;
}


.buttons {
    display: flex;
    justify-content: center;
}

#imageDisplay {
    max-width: 100%; /* Asegura que la imagen no sobrepase el contenedor */
    max-height: 300px; /* Limita la altura de la imagen */
    border: 2px solid #ccc; /* Estilo del borde de la imagen */
    border-radius: 8px; /* Bordes redondeados */
    opacity: 0; /* Comienza oculto */
    transition: opacity 0.5s ease-in-out; /* Transición suave para el efecto de desvanecimiento */
}

#imageDisplay.show {
    opacity: 1; /* Mostrar imagen activa cuando tenga la clase show */
}

.button-image{
    width: 90px; /* Ajusta el tamaño de las imágenes del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre la imagen */
    transition: transform 0.2s; /* Transición suave para el efecto de hover */
}

.features-box{
    text-align: center;
}

